/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#quiz {
  margin: 20px;
}

li {
  list-style-type: none;
}
/* Media screen for different device*/
@media screen and (max-width: 425px) and (min-width: 320px) {
  body {
    font-size: 50px;
    padding: 50px;
    border: 8px solid black;
    background: yellow;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 50px;
    padding: 50px;
    border: 8px solid black;
    background: yellow;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  body {
    font-size: 50px;
    padding: 50px;
    border: 8px solid black;
    background: yellow;
  }
}